.navbar {
    width: 100%;

    a {
        color: #FFF !important;
        font-size: 1.25em;
        line-height: 24px;
        transition: all .30s ease;

        &:hover {
            color: #ffc700 !important;
        }
    }

    &.bg-light {
        background-color: transparent !important;
    }

    .logo {
        width: 120px;
        margin: 14px;
        position: relative;
    }

    .active {
        a {
            color: #ffc700 !important;
        }
    }
}

.navbar-toggler {
    background-color: transparent;
    border-color: #FFF;
    position: absolute;
    top: 0;
    margin-top: 28px;
}

.navbar-light .navbar-toggler-icon {
    background-color: #FFF;
}