@import 'variables';

header {
    width: 100%;
    background-color: transparent !important;
}

.navbar-logo {
    width: 120px;
    margin: 14px;
    position: relative;
}

@media screen and (prefers-reduced-motion: reduce) {
    .nav-link {
        color: map-get($colors, black) !important;
        font-size: 1.25em;
        line-height: 24px;
        transition: none;

        &:hover,
        &:focus {
            color: map-get($colors, yellow) !important;
        }
    }
}

.nav-link {
    color: map-get($colors, black) !important;
    font-size: 1.25em;
    line-height: 24px;
    transition: all .30s ease;

    &:hover,
    &:focus {
        color: map-get($colors, yellow) !important;
    }

    &.-active {
        color: map-get($colors, yellow) !important;
    }
}