<div class="dropdown-box dropdown">
    <button class="btn btn-breaking dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" data-cy="dropdown-limit">
        Select number of characters
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" (click)="getAllCharacters()" data-cy="dropdown-item">All</button>
        <button class="dropdown-item" type="button" (click)="getLimitCharacters(9)" data-cy="dropdown-item">9</button>
        <button class="dropdown-item" type="button" (click)="getLimitCharacters(15)" data-cy="dropdown-item">15</button>
        <button class="dropdown-item" type="button" (click)="getLimitCharacters(21)" data-cy="dropdown-item">21</button>
        <button class="dropdown-item" type="button" (click)="getLimitCharacters(27)" data-cy="dropdown-item">27</button>
        <button class="dropdown-item" type="button" (click)="getLimitCharacters(33)" data-cy="dropdown-item">33</button>
    </div>
</div>