@import 'variables';

.btn-link {
    color: map-get($colors, white) !important;
    border: 1px solid map-get($colors, white);
    font-size: 16px;
    letter-spacing: 1px;
    padding: 11px 17px;
    text-decoration: none;

    &:hover,
    &:focus {
        transition: all .30s ease;
        color: map-get($colors, yellow) !important;
        border: 1px solid map-get($colors, yellow);

        @media screen and (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }
}

p {
    color: map-get($colors, white);
    font-size: 1.125em;
    line-height: 1.5;
}

h2 {
    color: map-get($colors, white);
    line-height: 1.16667;
    margin: 0;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 3rem !important;
}

article {
    margin: 0;
    background-color: map-get($colors, black);
    opacity: .60;
    padding: 40px;
    display: block;
    width: fit-content;
}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}