.btn-link {
    color: #fff !important;
    border: 1px solid #fff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 11px 17px;
    text-decoration: none;

    &:hover {
        transition: all .30s ease;
        color: #ffc700 !important;
        border: 1px solid #ffc700;
    }
}

p {
    color: #FFF;
    font-size: 1.125em;
    line-height: 1.5;
}

h2 {
    color: #FFF;
    line-height: 1.16667;
    margin: 0;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 3rem !important;
}

article {
    margin-top: 20%;
    margin-left: 10%;
    background-color: #000;
    opacity: .60;
    padding: 40px;
    display: block;
    width: fit-content;
}