@import 'variables';

.section-characters {
    background-color: transparent;
}

.characters-title {
    color: map-get($colors, white);
    text-transform: uppercase;
}

.characters-paragraph {
    color: map-get($colors, white);

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
        display: none;
    }
}