::ng-deep .jumbotron {
    background-color: transparent;
    padding: 2rem 2rem;
}

.characters {
    .jumbotron-heading {
        color: #FFF;
        text-transform: uppercase;
    }

    .lead {
        color: #FFF;
    }
}

.btn-breaking {
    color: #000000 !important;
    background-color: #3fb573;
    border-color: #3fb573;
}

.mb40 {
    margin-bottom: 40px;
}