<section class="characters jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Characters</h1>
    <p class="lead">
      Something short and leading about the collection below its contents, the
      creator, etc. Make it short and sweet, but not too short so folks don't
      simply skip over it entirely.
    </p>
  </div>
</section>

<section class="characters">
  <div class="container">
    <app-dropdown (getLimit)="getLimitCharacters($event)" (getAll)="getAllCharacters()"> </app-dropdown>
    <app-list-box [data]="characters"></app-list-box>
  </div>
</section>
<app-loading [loading]="loading"></app-loading>