@import 'variables';

.section-characters {
    background-color: transparent;
}

.characters-title {
    color: map-get($colors, white);
    text-transform: uppercase;
}

.characters-paragraph {
    color: map-get($colors, white);
}