<section class="section-characters jumbotron text-center">
  <div class="container">
    <h1 class="characters-title">Characters</h1>
    <p class="characters-paragraph">
      Something short and leading about the collection below its contents, the
      creator, etc. <br>Make it short and sweet, but not too short so folks don't
      simply skip over it entirely.
    </p>
  </div>
</section>

<section class="section-characters">
  <div class="container" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">

    <app-dropdown (getLimit)="getLimitCharacters($event)" (getAll)="getAllCharacters()"> </app-dropdown>
    <app-list-box [data]="characters"></app-list-box>
    <app-spinner [spinner]="spinner"></app-spinner>
  </div>
</section>

<app-loading [loading]="loading"></app-loading>