<section class="characters">
    <div class="container">
        <div class="row" *ngFor="let item of characters">
            <div class="col-6">
                <img class="lazyloaded" src="{{item.img}}" alt="{{item.name}}" data-cy="thumb">
            </div>
            <div class=" col-6">
                <h1 data-cy="name">{{item.name}}</h1>
                <dl>
                    <dt> Nickname: </dt>
                    <dd data-cy="nickname"> {{item.nickname}} </dd>
                    <dt *ngIf="item.birthday != 'Unknown'"> Birthday: </dt>
                    <dd data-cy="birthday"> {{item.birthday}} </dd>
                    <dt *ngIf="item.occupation"> Occupation: </dt>
                    <dd data-cy="occupation">
                        <p *ngFor="let occupation of item.occupation"> {{occupation}},</p>
                    </dd>
                    <dt *ngIf="item.appearance.length">Breaking Bad Seasons : </dt>
                    <dd data-cy="appearance">
                        <p *ngFor="let appearance of item.appearance">{{appearance}},</p>
                    </dd>
                    <dt *ngIf="item.status != '?'">
                        Status:
                    </dt>
                    <dd *ngIf="item.status != '?'" data-cy="status">
                        {{item.status}}
                    </dd>
                </dl>

            </div>
        </div>
    </div>
</section>
<app-loading [loading]="loading"></app-loading>