<section class="characters">
    <div class="container">
        <div class="row" *ngFor="let item of characters">
            <div class="col-6">
                <img class="lazyloaded" src="{{item.img}}" alt="{{item.name}}" data-cy="thumb">
            </div>
            <div class=" col-6">
                <h1 data-cy="name">{{item.name}}</h1>
                <ul>
                    <li>Nickname : <p data-cy="nickname">{{item.nickname}}</p>
                    </li>
                    <li *ngIf="item.birthday != 'Unknown'">Birthday : <p data-cy="birthday">{{item.birthday}}
                        </p>
                    </li>
                    <li *ngIf="item.occupation"> Occupation :
                        <p *ngFor="let occupation of item.occupation" data-cy="occupation">
                            {{occupation}}, </p>
                    </li>
                    <li *ngIf="item.appearance.length"> Breaking Bad Seasons : <p
                            *ngFor="let appearance of item.appearance" data-cy="appearance"> {{appearance}},
                        </p>
                    </li>
                    <li *ngIf="item.status != '?'"> Status : <p data-cy="status">{{item.status}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<app-loading [loading]="loading"></app-loading>