.characters {
    padding-top: 2%;

    img {
        width: 100%;
        height: auto;
        opacity: 1;
        transition: opacity 300ms;
    }

    h1 {
        color: #fff;
        border: none;
        display: block;
        padding: 0.375em;
        padding-left: 0;
    }

    p {
        color: #e6e6e6;
        font-size: 1em;
        line-height: 1.5;
    }

    dl {
        display: inline-grid;
        list-style: none;
        margin: 0;
        padding: 0;
        color: #e6e6e6;

        dt {
            font-size: 1em;
            line-height: 1.5;
            font-weight: bold;
            display: inline-block;
        }

        dd {
            margin: 0;
            padding: 0;
            display: list-item;
            font-weight: normal;
            margin-bottom: 1rem;

            p {
                display: inline-block;
                margin-bottom: 0rem;
            }
        }
    }
}