html {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;

    &.home {
        background-image: url('./assets/images/back-home.jpg')
    }

    &.site-content {
        background: #000000 url('./assets/images/back-internal.jpg') center top/100% no-repeat;
    }

    &.not-found {
        background-image: url('./assets/images/404.jpg');
    }
}

body {
    background-color: transparent;
    margin: 0;
    transition: margin .25s ease;

    @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
    }
}