$colors: (white: #fff,
    white-alt: #F4F5F7,
    black: #000,
    black-alt: #212121,
    lightgray: #e6e6e6,
    lightgray-alt: #ccc,
    gray: #606169,
    gray-alt: #707070,
    green:#3fb573,
    darkgray: hsl(0, 0%, 13%),
    orange: #F39518,
    lightblue: #0099CC,
    red: #DC0A0A,
    yellow:#ffc700);