$colors: (white:white,
    white-alt: white,
    black: black,
    black-alt: #212121,
    lightgray: #e6e6e6,
    lightgray-alt: lightgray,
    gray: #606169,
    gray-alt: #707070,
    green:#3fb573,
    darkgray: #212121,
    orange: #F39518,
    lightblue: #0099CC,
    red: #DC0A0A,
    yellow:#ffc700);