@import 'variables';

.section-not-found {

    >h1 {
        color: map-get($colors, white);
        font-size: 4em;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 20px 0;
    }

    >p {
        color: map-get($colors, white);
        font-size: 1.125em;
        line-height: 1.5;
    }

    >a {
        color: map-get($colors, yellow) !important;
        text-decoration: none;
    }

    >a:hover,
    a:focus {
        color: map-get($colors, yellow);
        text-decoration: underline;
    }

    >.content {
        position: absolute;
        top: 25%;
        width: 100% !important;
        max-width: 50%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 10;
    }

    >.bg {
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        opacity: 0.6;
        top: 0;
        background-color: map-get($colors, black);
        left: 0;
    }

}